[package]
name = "fabulist_core"
version = "0.2.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
description = "A branching narrative engine"
keywords = ["story", "gamedev", "narrative"]
categories = ["story"]
repository = "https://github.com/coreapostrophe/fabulist-core"
authors = ["Daveren Cordero <daverencordero@gmail.com>"]

[dependencies]
thiserror.workspace = true

fabulist_derive = { path = "../fabulist_derive" }
fabulist_lang = { path = "../fabulist_lang" }

[features]
default = ["selection", "actions", "dialogue", "narration"]
selection = ["actions"]
dialogue = ["actions"]
narration = ["actions"]
actions = []
