[package]
name = "fabulate"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
thiserror.workspace = true
clap = { version = "4.5.53", features = ["derive"] }
